<div class="flex h-screen">
  <!-- Sidebar -->
  <div class="group relative bg-gray-800 text-white transition-all duration-300 ease-in-out"
    [class]="{ 'w-16': !isSidebarHovered, 'w-64': isSidebarHovered }" (mouseenter)="isSidebarHovered = true"
    (mouseleave)="isSidebarHovered = false">
    <!-- Logo -->
    <div class="h-16 flex items-center justify-center border-b border-gray-700">
      @if(isSidebarHovered){
      <span class="text-xl font-bold">LOGO</span>
      }
      @if(!isSidebarHovered){
      <span class="text-xl font-bold">🔆</span>
      }
    </div>

    <!-- Menu -->
    <ul class="p-2 space-y-2">
      <a [routerLink]="['/dashboard']">
        <li class="flex items-center space-x-2 p-2 hover:bg-gray-700 rounded cursor-pointer">
          <span class="material-icons">dashboard</span>
          @if(isSidebarHovered){
          <span>Dashboard</span>
          }
        </li>
      </a>
      <li class="flex items-center space-x-2 p-2 hover:bg-gray-700 rounded cursor-pointer">
        <span class="material-icons">settings</span>
        @if(isSidebarHovered){
        <span>Configuración</span>
        }
      </li>
      <li class="flex items-center space-x-2 p-2 hover:bg-gray-700 rounded cursor-pointer">
        <span class="material-icons">logout</span>
        @if(isSidebarHovered){
        <span>Cerrar sesión</span>
        }
      </li>
    </ul>
  </div>

  <div class="flex-1 bg-gray-100 p-4 overflow-auto">
    <router-outlet></router-outlet>
  </div>
</div>