<div class="max-w-2xl mx-auto bg-white shadow-md rounded-xl p-6 mt-6">
  <h2 class="text-2xl font-semibold mb-4 text-gray-800">Registrar nuevo auto</h2>

  <form [formGroup]="carForm" (ngSubmit)="onSubmit()" class="space-y-4">

    <!-- Modelo -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Modelo</mat-label>
      <input matInput placeholder="Ej. Nissan Versa" formControlName="model" [(ngModel)]="car.model">
      @if(carForm.get('model')?.hasError('required')){
      <mat-error>Campo requerido</mat-error>
      }
    </mat-form-field>
    <!-- Placas -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Placas</mat-label>
      <input matInput placeholder="Ej. ABC-1234" formControlName="placas" [(ngModel)]="car.placas">
      @if(carForm.get('placas')?.hasError('required')){
      <mat-error>Campo requerido</mat-error>
      }
    </mat-form-field>

    <!-- Año -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Año</mat-label>
      <input matInput type="number" placeholder="2020" formControlName="year" [(ngModel)]="car.year">
      @if(carForm.get('year')?.hasError('required')){
      <mat-error>Campo requerido</mat-error>
      }
    </mat-form-field>

    <!-- Tipo de seguro -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Tipo de Seguro</mat-label>
      <mat-select formControlName="tipoSeguro" [(ngModel)]="car.tipoSeguro">
        <mat-option value="amplio">Cobertura Amplia</mat-option>
        <mat-option value="limitado">Limitado</mat-option>
        <mat-option value="responsabilidad">Responsabilidad Civil</mat-option>
      </mat-select>
      @if (carForm.get('tipoSeguro')?.hasError('required')) {
      <mat-error>Campo requerido</mat-error>
      }
    </mat-form-field>

    <!-- Número de póliza -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Número de póliza</mat-label>
      <input matInput placeholder="Ej. GNP-123456" formControlName="poliza" [(ngModel)]="car.poliza">
      @if(carForm.get('poliza')?.hasError('required')){
      <mat-error>Campo requerido</mat-error>
      }
    </mat-form-field>

    <!-- Botón de enviar -->
    <button mat-flat-button color="primary" class="w-full py-2" type="submit" [disabled]="carForm.invalid">
      Registrar auto
    </button>
  </form>
</div>